apiVersion: apps/v1
kind: Deployment
metadata: 
  name: web-app
spec: 
  replicas: 2
  selector:
    matchLabels:
      app: web-app
  template: 
    metadata:
      labels:
        app: web-app
    spec: 
      containers:
      - name: auth-app-container
        image: auth-app:v1
        imagePullPolicy: Never
        ports:
        - containerPort: 80
        resources:
          requests:
            memory: "64Mi"
            cpu: "100m"
          limits:
            memory: "128Mi"
            cpu: "200m"
        livenessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 5
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 3

